html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  width: 100%;
  height: auto;
}

@font-face {
  font-family: "Ubuntu-Regular.ttf";
  src: local("Ubuntu-Regular"), url(../fonts/Ubuntu-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Ubuntu-Bold.ttf";
  src: local("Ubuntu-Bold"), url(../fonts/Ubuntu-Bold.ttf);
  font-style: normal;
  font-weight: normal;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(202, 153, 235);
  position: relative;
}

.container_hangman {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  gap: 70px;
}
.container_hangman .hangman_game {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* Hangman pics */
  /* Hangman title */
}
.container_hangman .hangman_game .hangman_img {
  max-height: 400px;
}
.container_hangman .hangman_game .hangman__head_pics {
  position: absolute;
  max-width: 80px;
  top: 100px;
  left: 169px;
  display: none;
}
.container_hangman .hangman_game .hangman__body_pics {
  position: absolute;
  max-height: 100px;
  top: 179px;
  left: 206px;
  display: none;
}
.container_hangman .hangman_game .left__hand_pics {
  position: absolute;
  max-height: 50px;
  top: 190px;
  left: 167px;
  display: none;
}
.container_hangman .hangman_game .right__hand_pics {
  position: absolute;
  max-height: 50px;
  top: 190px;
  left: 207px;
  display: none;
}
.container_hangman .hangman_game .left__leg_pics {
  position: absolute;
  max-height: 50px;
  top: 277px;
  left: 167px;
  display: none;
}
.container_hangman .hangman_game .right__leg_pics {
  position: absolute;
  max-height: 50px;
  top: 277px;
  left: 207px;
  display: none;
}
.container_hangman .hangman_game .hangman_title {
  font-size: 30px;
}
.container_hangman .hangman_keyboards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_hangman .hangman_keyboards .hangmanGame__list {
  display: flex;
  width: 55%;
  height: 35px;
  justify-content: space-evenly;
}
.container_hangman .hangman_keyboards .hangmanGame__list_item {
  list-style: none;
  width: 35px;
  border-bottom: 3px solid #333;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}
.container_hangman .hangman_keyboards .question_game {
  font-size: 35px;
}/*# sourceMappingURL=hangman_scss.css.map */