@font-face {
    font-family: 'Ubuntu-Regular.ttf';
    src: local('Ubuntu-Regular'), url(../fonts/Ubuntu-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Ubuntu-Bold.ttf';
    src: local('Ubuntu-Bold'), url(../fonts/Ubuntu-Bold.ttf);
    font-style: normal;
    font-weight: normal;
}